
[core]
	editor = hx

[pull]
	rebase = true

[push]
	autoSetupRemote = true

[url "ssh://git@gitlab.tech.dnb.no:2222/"]
	insteadOf = https://gitlab.tech.dnb.no/
	insteadOf = git://gitlab.tech.dnb.no/

[url "ssh://dnb@dnb.ghe.com"]
  insteadOf = https://dnb.ghe.com/
  insteadOf = git://dnb.ghe.com/

[user]
	name = Odin Bjørnebo

[includeIf "gitdir:~/github/"]
	path = .gitconfig_github

[includeIf "gitdir:~/gitlab/"]
	path = .gitconfig_gitlab

[includeIf "gitdir:~/ghe/"]
	path = .gitconfig_ghe
